<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list (Toy)</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% load static %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/rewrite_style.css' %}"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Praise&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <navigation class="nav-left">
        <div class="nav-left-img">
            <img src="{% static 'image/hand.png' %}" alt="고양이 손" />
        </div>
    </navigation>

    <section class="sec">
        <div class="content">
            <div class="cat-img">
                <img src="{% static 'image/cat.png' %}" alt="고양이" />
            </div>
        <div class="text-title">
            <p>Re-write</p>
        </div>
        <form action="{% url 'todolist:rewrite' id=update_todo.pk %}" method="POST">
            {% csrf_token %}
            <textarea name="content" class="text-box">{{update_todo.content}}</textarea>
            <div class="submit-btn">
                <input type="submit" value="수정하기" name="submit">
            </div>
        </form>
    </section>

    <navigation class="nav-right">
        <ul class="login-register">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">로그인</a></li>
            <li>|</li>
            <li><a href="{% url 'accounts:register' %}">회원가입</a></li>
            {% endif %}
        </ul>
    </navigation>
</body>
</html>